button {
  padding: 12px 16px;
  margin: 6px;
  background-color: burlywood;
  cursor: pointer;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  overflow-y: scroll;
  height: 50vh;
}
.btn-section {
  display: flex;
  justify-content: center;
}
